@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IRANSansWeb300";
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb400";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb500";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face{
    font-family: "IRANSansWeb700";
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  .faNum{
    font-family: "IRANSansWeb300";
}

* {
    box-sizing: border-box;
    /* direction: rtl; */
  }
  a{
    text-decoration: none;
  }
  ul,li,p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 24px;
    font-family: "IRANSansWeb700";
    line-height: 26px;
  }
  h2 {
    font-size: 20px;
    font-family: "IRANSansWeb700";
    line-height: 26px;
  }
  h3 {
    font-size: 18px;
    font-family: "IRANSansWeb500";
    line-height: 25px;
  }
  h4,
  h5 {
    font-size: 16px;
    font-family: "IRANSansWeb400";
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    font-family: "IRANSansWeb300";
    line-height: 22px;
  }
  a {
    font-size: 14px;
    font-family: "IRANSansWeb500";
    line-height: 24px;
  }
  body.ProductCat-C{
    overflow: hidden;
  }
.SearchIconHeader:hover svg path{
    fill: #6E6E6E;
}
.MobileHeader.Open .toggle-item:nth-child(1){
    transform-origin: 10px 1px;
    transform: rotate(-51deg);
}
.MobileHeader.Open .toggle-item:nth-child(3){
    transform-origin: 30px -10px;
  transform: rotate(51deg);
}
.MobileHeader.Open .toggle-item:nth-child(2){
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.MobileHeader.light .Header-Inner svg path{
stroke: #252525;
}
.MobileHeader .Menu ul{
  overflow-y: auto !important;
}
.MobileHeader .clr {
  height: 85svh;
  margin-top: auto;
}
::-webkit-scrollbar-track ,
#scrollContainer::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#scrollContainer::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
::-webkit-scrollbar ,
#scrollContainer::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
#scrollContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
::-webkit-scrollbar-thumb,
#scrollContainer::-webkit-scrollbar-thumb{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
#scrollContainer::-webkit-scrollbar-thumb{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d3d1d1;
  }
  .Courses-conrainer .Row{
   display: flex;
   width:max-content;
   flex-direction: column;
   gap: .8em;
  }
 .ProductCat-C .swiper-wrapper,
 .Product-Show .swiper-wrapper{
    display: flex;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    -webkit-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    -moz-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    -ms-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    -o-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}
.ProductCat-C .swiper-pagination ,
.Product-Show .swiper-pagination{
    width: 132px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    direction: rtl;
    bottom: -.5em;
    top: unset;
  }
  .ProductCat-C .swiper-pagination .swiper-pagination-progressbar ,
  .Product-Show .swiper-pagination .swiper-pagination-progressbar {
    height: 0.2vh;
    top: 27.5%;
    background-color:#6E6E6E !important;
    border-radius: 50px !important;
  }
  .ProductCat-C .swiper-pagination ,
  .Product-Show .swiper-pagination{
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .ProductCat-C .swiper-pagination .swiper-pagination-progressbar-fill ,
  .Product-Show .swiper-pagination .swiper-pagination-progressbar-fill{
    background-color: #252525!important;
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: right top;
}
.ProductCat-C .BannerSec .IMG::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(14, 14, 14, 0.5) 0%, rgba(14, 14, 14, 0) 100%);

}
header.dark svg path{
    stroke: #252525;
}


.ProductCat-Mobile .swiper-slide .Title h2{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.ProductCat-Mobile .swiper-slide .Text p{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.ProductCat-Mobile .swiper-slide.inner-visible .Title h2{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.ProductCat-Mobile .swiper-slide.inner-visible .Text p{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.ProductShow-Mobile #section-1 .swiper-pagination{
  position: absolute;
  bottom: 1em;
  top: unset;
  left: 0;
  right: 0;
  margin: 0 auto;

}
.ProductShow-Mobile #section-1 .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #F8F8F8;
  opacity: 1;
  background-color: transparent;
  width: 14px;
  height: 14px;
  position: relative;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}
.ProductShow-Mobile #section-1 .swiper-pagination .swiper-pagination-bullet-active::before{
  content: '';
  position: absolute;
z-index: 1;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #6E6E6E;
  left: 25%;
  top: 25%;
}
.ProductShow-Mobile #section-1 .IMG::before{
  content: '';
  position: absolute;
z-index: 1;
height: 100%;
width: 100%;
  background: #0e0e0e40;

}
.ProductShow-Mobile #section-1 .swiper-button-prev,
.ProductShow-Mobile #section-1 .swiper-button-next{
   width: 34px;
   height: 34px;
   border: 1px solid #F8F8F8;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ProductShow-Mobile #section-1 .swiper-button-prev::before,
.ProductShow-Mobile #section-1 .swiper-button-next::before,
.ProductShow-Mobile #section-1 .swiper-button-prev::after,
.ProductShow-Mobile #section-1 .swiper-button-next::after{
content: '';
display: none;
}
.ProductShow-Mobile #section-1 .swiper-button-prev svg,
.ProductShow-Mobile #section-1 .swiper-button-next svg,
.ProductShow-Mobile #section-2 .swiper-button-prev svg,
.ProductShow-Mobile #section-2 .swiper-button-next svg{
width: 20px !important;
}
.ProductShow-Mobile #section-2 .swiper-button-prev,
.ProductShow-Mobile #section-2 .swiper-button-next{
position: static;
width: 34px;
height: 34px;
border: 1px solid #6E6E6E;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
}
.ProductShow-Mobile #section-2 .swiper-button-prev::before,
.ProductShow-Mobile #section-2 .swiper-button-next::before,
.ProductShow-Mobile #section-2 .swiper-button-prev::after,
.ProductShow-Mobile #section-2 .swiper-button-next::after{
  content: '';
  display: none;
}
.ProductShow-Mobile .activeItem.DarkActive svg path{
stroke: #F8F8F8;
}
.ProductShow-Mobile #section-0.swiper-slide.inner-visible p,
.ProductShow-Mobile #section-0.swiper-slide.inner-visible h1{
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
}

.button {
  display:inline-block;
  height:40px;
  line-height:40px;
  overflow:hidden;
  position:relative;
  text-align:center;
  color:white;
  border-radius:20px;
  transition:0.3s;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
/* BUTTON UP */
.label-up {
  display:block;
  margin: 0px 30px 0 20px;
  height:100%;
  position:relative;
  top:0%;
  transition:0.3s;
}

.button:hover .label-up {
  top:-100%;
}
header .label-up{
  margin: 0;
}

.c02256 {
  top: 50%;
  left: 2%;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateY(-50%);
  pointer-events: none;
}
.c02257 {
  width: 100%;
  height: 100%;
  stroke: rgba(255, 255, 255, 0.3);
  opacity: 0;
  animation: c02258 2s linear infinite;
  transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-animation: c02258 2s linear infinite;
}
.c02257 .path {
  animation: c02259 1.5s ease-in-out infinite;
  stroke-linecap: round;
  -webkit-animation: c02259 1.5s ease-in-out infinite;
}
.c02261 {
opacity: 1 !important;
  pointer-events: all !important;
}
.c02260 {
  top: 0;
  left: 0%;
  width: 100%;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  padding: 5px;
  position: absolute;
  transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  pointer-events: none;
}
.c02260 svg path {
  stroke: red;
  width: 12px;
  height: 12px;
}
@keyframes c02258 {
  100% {
    transform: rotate(360deg);
}
}
@keyframes c02259 {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
}

50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
}

100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
}
}
.inputBOX input {
  width: 100%;
  border: none;
  background: none;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  appearance: none;
  color: #6E6E6E;
  font-family: 'IRANSansWeb400';
  outline: none;
}
.inputBOX input:focus{
  border: none;
  outline: none;
}
.inputBOX input::placeholder{
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  appearance: none;
  color: #6E6E6E;
  font-family: 'IRANSansWeb400';
}

header .clr ul .Menu-Item:not(:first-child){
border-bottom: 1px solid #F8F8F8;
}
header .clr ul .full{
border-top: 1px solid #F8F8F8;
border-bottom: 1px solid #F8F8F8;
}